h1 {
    font-family:'Gabriola', serif;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.nextButton {
    box-shadow:black;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: black;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:right;
	right:30%;
}

.lastButton {
    box-shadow: black;
    border-radius: 6px;
    /*width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: black;
    /*clear: both;*/
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:left;
	left:30%;
}